<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>customerInformation</servlet-name>
        <servlet-class>com.mycompany.webprojettp.customerInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showClientInState</servlet-name>
        <servlet-class>com.mycompany.webprojettp.showClientInState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appelClientInState</servlet-name>
        <servlet-class>com.mycompany.webprojettp.appelClientInState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowClientInStateWithForm</servlet-name>
        <servlet-class>com.mycompany.webprojettp.ShowClientInStateWithForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerInformation</servlet-name>
        <url-pattern>/customerInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showClientInState</servlet-name>
        <url-pattern>/showClientInState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appelClientInState</servlet-name>
        <url-pattern>/appelClientInState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowClientInStateWithForm</servlet-name>
        <url-pattern>/ShowClientInStateWithForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
